# M&M

# PYTHON

In [1]:
import sys
from pyspark.sql import SparkSession
from pyspark.sql.functions import count
from pyspark.sql import functions as F

In [2]:
spark=(SparkSession
      .builder
      .appName("PythonMnMCount")
      .getOrCreate())

In [5]:
mnm_file="C:/LearningSparkV2-master/databricks-datasets/learning-spark-v2/mnm_dataset.csv"

In [6]:
mnm_df=(spark.read.format("csv")
       .option("header","true")
       .option("inferSchema","true")
       .load(mnm_file))

In [7]:
mnm_df.show(5, truncate=False)

+-----+------+-----+
|State|Color |Count|
+-----+------+-----+
|TX   |Red   |20   |
|NV   |Blue  |66   |
|CO   |Blue  |79   |
|OR   |Blue  |71   |
|WA   |Yellow|93   |
+-----+------+-----+
only showing top 5 rows

In [15]:
mnm_df.describe().show()

+-------+-----+------+-----------------+
|summary|State| Color|            Count|
+-------+-----+------+-----------------+
|  count|99999| 99999|            99999|
|   mean| null|  null|55.00090000900009|
| stddev| null|  null|26.26648202084822|
|    min|   AZ|  Blue|               10|
|    max|   WY|Yellow|              100|
+-------+-----+------+-----------------+

In [8]:
count_mnm_df= (mnm_df
              .select("State","Color","Count")
              .groupBy("State")
              .agg(count("Count").alias("Total"))
              .orderBy("Total", ascending=False))

In [9]:
count_mnm_df.show(60, truncate=False)
print("Total Rows = %d" % (count_mnm_df.count()))

+-----+-----+
|State|Total|
+-----+-----+
|CA   |10164|
|TX   |10072|
|WA   |10065|
|CO   |10051|
|NM   |10050|
|NV   |10025|
|AZ   |10001|
|OR   |9903 |
|UT   |9886 |
|WY   |9782 |
+-----+-----+

Total Rows = 10

In [10]:
count1_mnm_df= (mnm_df
              .select("State","Color","Count")
              .groupBy("State","Color")
              .agg(count("Count").alias("Total"))
              .orderBy("Total", ascending=False))

In [12]:
count1_mnm_df.show(60, truncate=False)
print("Total Rows = %d" % (count1_mnm_df.count()))

+-----+------+-----+
|State|Color |Total|
+-----+------+-----+
|CA   |Yellow|1807 |
|WA   |Green |1779 |
|OR   |Orange|1743 |
|TX   |Green |1737 |
|TX   |Red   |1725 |
|CA   |Green |1723 |
|CO   |Yellow|1721 |
|CA   |Brown |1718 |
|CO   |Green |1713 |
|NV   |Orange|1712 |
|TX   |Yellow|1703 |
|NV   |Green |1698 |
|AZ   |Brown |1698 |
|CO   |Blue  |1695 |
|WY   |Green |1695 |
|NM   |Red   |1690 |
|AZ   |Orange|1689 |
|NM   |Yellow|1688 |
|NM   |Brown |1687 |
|UT   |Orange|1684 |
|NM   |Green |1682 |
|UT   |Red   |1680 |
|AZ   |Green |1676 |
|NV   |Yellow|1675 |
|NV   |Blue  |1673 |
|WA   |Red   |1671 |
|WY   |Red   |1670 |
|WA   |Brown |1669 |
|NM   |Orange|1665 |
|WY   |Blue  |1664 |
|WA   |Yellow|1663 |
|WA   |Orange|1658 |
|CA   |Orange|1657 |
|NV   |Brown |1657 |
|CA   |Red   |1656 |
|CO   |Brown |1656 |
|UT   |Blue  |1655 |
|AZ   |Yellow|1654 |
|TX   |Orange|1652 |
|AZ   |Red   |1648 |
|OR   |Blue  |1646 |
|OR   |Red   |1645 |
|UT   |Yellow|1645 |
|CO   |Orange|1642 |
|TX   |Brown |1641 |
|NM   |Blue  |1638 |
|AZ   |Blue  |1636 |
|OR   |Green |1634 |
|UT   |Brown |1631 |
|WY   |Yellow|1626 |
|WA   |Blue  |1625 |
|CO   |Red   |1624 |
|OR   |Brown |1621 |
|TX   |Blue  |1614 |
|OR   |Yellow|1614 |
|NV   |Red   |1610 |
|CA   |Blue  |1603 |
|WY   |Orange|1595 |
|UT   |Green |1591 |
|WY   |Brown |1532 |
+-----+------+-----+

Total Rows = 60

In [17]:
count1_mnm_df.groupBy("State").max().show()

+-----+----------+
|State|max(Total)|
+-----+----------+
|   AZ|      1698|
|   OR|      1743|
|   WY|      1695|
|   NV|      1712|
|   CA|      1807|
|   WA|      1779|
|   NM|      1690|
|   TX|      1737|
|   CO|      1721|
|   UT|      1684|
+-----+----------+

In [18]:
count1_mnm_df.groupBy("State").sum().show()

+-----+----------+
|State|sum(Total)|
+-----+----------+
|   AZ|     10001|
|   OR|      9903|
|   WY|      9782|
|   NV|     10025|
|   CA|     10164|
|   WA|     10065|
|   NM|     10050|
|   TX|     10072|
|   CO|     10051|
|   UT|      9886|
+-----+----------+

In [19]:
ca_count_mnm_df= (mnm_df
              .select("State","Color","Count")
              .where(mnm_df.State=="CA")
              .groupBy("State","Color")
              .agg(count("Count").alias("Total"))
              .orderBy("Total", ascending=False))

In [22]:
ca_count_mnm_df.show(n=10, truncate=False)
print("Total Rows %d" % (ca_count_mnm_df.count()))

+-----+------+-----+
|State|Color |Total|
+-----+------+-----+
|CA   |Yellow|1807 |
|CA   |Green |1723 |
|CA   |Brown |1718 |
|CA   |Orange|1657 |
|CA   |Red   |1656 |
|CA   |Blue  |1603 |
+-----+------+-----+

Total Rows 6

Ejercicios python extras

In [29]:
max_mnm_df=(mnm_df
           .select("State","Color","Count")
           .groupBy("Color")
           .agg({"Count":"max"})
           .orderBy("Color",ascending=True))

In [30]:
max_mnm_df.show(10, truncate=False)

+------+----------+
|Color |max(Count)|
+------+----------+
|Blue  |100       |
|Brown |100       |
|Green |100       |
|Orange|100       |
|Red   |100       |
|Yellow|100       |
+------+----------+

In [31]:
min_mnm_df=(mnm_df
           .select("State","Color","Count")
           .groupBy("Color")
           .agg({"Count":"min"})
           .orderBy("Color",ascending=False))

In [32]:
min_mnm_df.show(10, truncate=False)

+------+----------+
|Color |min(Count)|
+------+----------+
|Yellow|10        |
|Red   |10        |
|Orange|10        |
|Green |10        |
|Brown |10        |
|Blue  |10        |
+------+----------+

In [34]:
state_count_mnm_df= (mnm_df
              .select("State","Color","Count")
              .where((mnm_df.State=="CA")|(mnm_df.State=="NV")|(mnm_df.State=="TX")|(mnm_df.State=="CO"))
              .groupBy("State","Color")
              .agg(count("Count").alias("Total"))
              .orderBy("Total", ascending=False))

In [36]:
state_count_mnm_df.show(n=10, truncate=False)
print("Total Rows %d" % (state_count_mnm_df.count()))

+-----+------+-----+
|State|Color |Total|
+-----+------+-----+
|CA   |Yellow|1807 |
|TX   |Green |1737 |
|TX   |Red   |1725 |
|CA   |Green |1723 |
|CO   |Yellow|1721 |
|CA   |Brown |1718 |
|CO   |Green |1713 |
|NV   |Orange|1712 |
|TX   |Yellow|1703 |
|NV   |Green |1698 |
+-----+------+-----+
only showing top 10 rows

Total Rows 24

In [38]:
todo_mnm_df=(mnm_df
            .select("Color","State","Count")
            .groupBy("State","Color")
            .agg(F.max("Count"),F.min("Count"),F.avg("Count"),F.count("Count"))
            .orderBy("State","Color"))

In [39]:
todo_mnm_df.show(10, truncate=False)

+-----+------+----------+----------+------------------+------------+
|State|Color |max(Count)|min(Count)|avg(Count)        |count(Count)|
+-----+------+----------+----------+------------------+------------+
|AZ   |Blue  |100       |10        |54.99449877750611 |1636        |
|AZ   |Brown |100       |10        |54.350412249705535|1698        |
|AZ   |Green |100       |10        |54.82219570405728 |1676        |
|AZ   |Orange|100       |10        |54.28300769686205 |1689        |
|AZ   |Red   |100       |10        |54.637135922330096|1648        |
|AZ   |Yellow|100       |10        |54.98548972188634 |1654        |
|CA   |Blue  |100       |10        |55.59762944479102 |1603        |
|CA   |Brown |100       |10        |55.740395809080326|1718        |
|CA   |Green |100       |10        |54.268717353453276|1723        |
|CA   |Orange|100       |10        |54.502715751357876|1657        |
+-----+------+----------+----------+------------------+------------+
only showing top 10 rows

# SCALA

In [1]:
import org.apache.spark.sql.SparkSession
import org.apache.spark.sql.functions._

Intitializing Scala interpreter ...

Spark Web UI available at http://EM2021002861.bosonit.local:4040
SparkContext available as 'sc' (version = 3.1.1, master = local[*], app id = local-1622502223256)
SparkSession available as 'spark'

import org.apache.spark.sql.SparkSession
import org.apache.spark.sql.functions._

In [2]:
val spark=SparkSession
          .builder
          .appName("MnMCount")
          .getOrCreate()

spark: org.apache.spark.sql.SparkSession = org.apache.spark.sql.SparkSession@6f6feadd

In [4]:
val mnm_File="C:/LearningSparkV2-master/databricks-datasets/learning-spark-v2/mnm_dataset.csv"

mnm_File: String = C:/LearningSparkV2-master/databricks-datasets/learning-spark-v2/mnm_dataset.csv

In [5]:
val mnm_df = spark.read.format("csv")
             .option("header", "true")
             .option("inferSchema", "true")
             .load(mnm_File)

mnm_df: org.apache.spark.sql.DataFrame = [State: string, Color: string ... 1 more field]

In [6]:
mnm_df.show(10, false)

+-----+------+-----+
|State|Color |Count|
+-----+------+-----+
|TX   |Red   |20   |
|NV   |Blue  |66   |
|CO   |Blue  |79   |
|OR   |Blue  |71   |
|WA   |Yellow|93   |
|WY   |Blue  |16   |
|CA   |Yellow|53   |
|WA   |Green |60   |
|OR   |Green |71   |
|TX   |Green |68   |
+-----+------+-----+
only showing top 10 rows

In [7]:
mnm_df.describe().show()

+-------+-----+------+-----------------+
|summary|State| Color|            Count|
+-------+-----+------+-----------------+
|  count|99999| 99999|            99999|
|   mean| null|  null|55.00090000900009|
| stddev| null|  null|26.26648202084822|
|    min|   AZ|  Blue|               10|
|    max|   WY|Yellow|              100|
+-------+-----+------+-----------------+

In [11]:
val count_mnm_df= mnm_df
                 .select("State","Color","Count")
                 .groupBy("Color")
                 .agg(count("Count").alias("Total"))
                 .orderBy(desc("Total"))

count_mnm_df: org.apache.spark.sql.Dataset[org.apache.spark.sql.Row] = [Color: string, Total: bigint]

In [12]:
count_mnm_df.show()

+------+-----+
| Color|Total|
+------+-----+
| Green|16928|
|Yellow|16796|
|Orange|16697|
|   Red|16619|
| Brown|16510|
|  Blue|16449|
+------+-----+

In [19]:
val count1_mnm_df= mnm_df
                 .select("State","Color","Count")
                 .groupBy("State","Color")
                 .agg(count("Count").alias("Total"))
                 .orderBy(desc("State"),desc("Color"),desc("Total"))

count1_mnm_df: org.apache.spark.sql.Dataset[org.apache.spark.sql.Row] = [State: string, Color: string ... 1 more field]

In [20]:
count1_mnm_df.show()

+-----+------+-----+
|State| Color|Total|
+-----+------+-----+
|   WY|Yellow| 1626|
|   WY|   Red| 1670|
|   WY|Orange| 1595|
|   WY| Green| 1695|
|   WY| Brown| 1532|
|   WY|  Blue| 1664|
|   WA|Yellow| 1663|
|   WA|   Red| 1671|
|   WA|Orange| 1658|
|   WA| Green| 1779|
|   WA| Brown| 1669|
|   WA|  Blue| 1625|
|   UT|Yellow| 1645|
|   UT|   Red| 1680|
|   UT|Orange| 1684|
|   UT| Green| 1591|
|   UT| Brown| 1631|
|   UT|  Blue| 1655|
|   TX|Yellow| 1703|
|   TX|   Red| 1725|
+-----+------+-----+
only showing top 20 rows

In [27]:
count1_mnm_df.groupBy("State").max().orderBy("max(Total)").show()

+-----+----------+
|State|max(Total)|
+-----+----------+
|   UT|      1684|
|   NM|      1690|
|   WY|      1695|
|   AZ|      1698|
|   NV|      1712|
|   CO|      1721|
|   TX|      1737|
|   OR|      1743|
|   WA|      1779|
|   CA|      1807|
+-----+----------+

In [28]:
count1_mnm_df.groupBy("State").sum().orderBy("sum(Total)").show()

+-----+----------+
|State|sum(Total)|
+-----+----------+
|   WY|      9782|
|   UT|      9886|
|   OR|      9903|
|   AZ|     10001|
|   NV|     10025|
|   NM|     10050|
|   CO|     10051|
|   WA|     10065|
|   TX|     10072|
|   CA|     10164|
+-----+----------+

In [31]:
val ca_count_mnm_df= mnm_df
                 .select("State","Color","Count")
                 .where(col("State")==="CA")
                 .groupBy("State","Color")
                 .agg(count("Count").alias("Total"))
                 .orderBy(desc("State"),desc("Color"),desc("Total"))

ca_count_mnm_df: org.apache.spark.sql.Dataset[org.apache.spark.sql.Row] = [State: string, Color: string ... 1 more field]

In [36]:
ca_count_mnm_df.show(10, false)
println(s"Total de filas = ${ca_count_mnm_df.count()}")

+-----+------+-----+
|State|Color |Total|
+-----+------+-----+
|CA   |Yellow|1807 |
|CA   |Red   |1656 |
|CA   |Orange|1657 |
|CA   |Green |1723 |
|CA   |Brown |1718 |
|CA   |Blue  |1603 |
+-----+------+-----+

Total de filas = 6

Ejercicios Scala extra

In [41]:
val max_mnm_df= mnm_df
                .select("State","Color","Count")
                .groupBy("Color")
                .agg(max("Count"))
                .orderBy(asc("Color"))

max_mnm_df: org.apache.spark.sql.Dataset[org.apache.spark.sql.Row] = [Color: string, max(Count): int]

In [42]:
max_mnm_df.show()

+------+----------+
| Color|max(Count)|
+------+----------+
|  Blue|       100|
| Brown|       100|
| Green|       100|
|Orange|       100|
|   Red|       100|
|Yellow|       100|
+------+----------+

In [43]:
val min_mnm_df= mnm_df
                .select("State","Color","Count")
                .groupBy("Color")
                .agg(min("Count"))
                .orderBy(asc("Color"))

min_mnm_df: org.apache.spark.sql.Dataset[org.apache.spark.sql.Row] = [Color: string, min(Count): int]

In [44]:
min_mnm_df.show()

+------+----------+
| Color|min(Count)|
+------+----------+
|  Blue|        10|
| Brown|        10|
| Green|        10|
|Orange|        10|
|   Red|        10|
|Yellow|        10|
+------+----------+

In [47]:
val state_count_mnm_df= mnm_df
              .select("State","Color","Count")
              .where((col("State")==="CA") or (col("State")==="NV") or (col("State")==="TX") or (col("State")==="C0"))
              .groupBy("State","Color")
              .agg(count("Count").alias("Total"))
              .orderBy(desc("Total"))

state_count_mnm_df: org.apache.spark.sql.Dataset[org.apache.spark.sql.Row] = [State: string, Color: string ... 1 more field]

In [53]:
state_count_mnm_df.show(10, false)
println(s"Total de filas = ${state_count_mnm_df.count()}")

+-----+------+-----+
|State|Color |Total|
+-----+------+-----+
|CA   |Yellow|1807 |
|TX   |Green |1737 |
|TX   |Red   |1725 |
|CA   |Green |1723 |
|CA   |Brown |1718 |
|NV   |Orange|1712 |
|TX   |Yellow|1703 |
|NV   |Green |1698 |
|NV   |Yellow|1675 |
|NV   |Blue  |1673 |
+-----+------+-----+
only showing top 10 rows

Total de filas = 18

In [55]:
val todo_mnm_df=mnm_df
            .select("Color","State","Count")
            .groupBy("State","Color")
            .agg(max("Count"),min("Count"),avg("Count"),count("Count"))
            .orderBy("State","Color")

todo_mnm_df: org.apache.spark.sql.Dataset[org.apache.spark.sql.Row] = [State: string, Color: string ... 4 more fields]

In [57]:
todo_mnm_df.show(10, true)
println(s"Hay ${todo_mnm_df.count()} filas")

+-----+------+----------+----------+------------------+------------+
|State| Color|max(Count)|min(Count)|        avg(Count)|count(Count)|
+-----+------+----------+----------+------------------+------------+
|   AZ|  Blue|       100|        10| 54.99449877750611|        1636|
|   AZ| Brown|       100|        10|54.350412249705535|        1698|
|   AZ| Green|       100|        10| 54.82219570405728|        1676|
|   AZ|Orange|       100|        10| 54.28300769686205|        1689|
|   AZ|   Red|       100|        10|54.637135922330096|        1648|
|   AZ|Yellow|       100|        10| 54.98548972188634|        1654|
|   CA|  Blue|       100|        10| 55.59762944479102|        1603|
|   CA| Brown|       100|        10|55.740395809080326|        1718|
|   CA| Green|       100|        10|54.268717353453276|        1723|
|   CA|Orange|       100|        10|54.502715751357876|        1657|
+-----+------+----------+----------+------------------+------------+
only showing top 10 rows

Hay 60 filas