#### PYTHON

In [1]:
from pyspark.sql import SparkSession

In [9]:
from pyspark.sql.functions import col, desc

In [2]:
spark = (SparkSession
        .builder
        .appName("Ejemplo4")
        .getOrCreate())

In [3]:
csv_file= "C:/LearningSparkV2-master/databricks-datasets/learning-spark-v2/departuredelays.csv"

In [4]:
df = (spark.read.format("csv")
     .option("header", "true")
     .option("inferSchema", "true")
     .load(csv_file))

In [5]:
df.createOrReplaceTempView("us_delay_flights_tbl")

In [6]:
spark.sql("""SELECT distance, origin, destination
FROM us_delay_flights_tbl WHERE distance > 1000
ORDER BY distance DESC""").show(10)

+--------+------+-----------+
|distance|origin|destination|
+--------+------+-----------+
|    4330|   HNL|        JFK|
|    4330|   HNL|        JFK|
|    4330|   HNL|        JFK|
|    4330|   HNL|        JFK|
|    4330|   HNL|        JFK|
|    4330|   HNL|        JFK|
|    4330|   HNL|        JFK|
|    4330|   HNL|        JFK|
|    4330|   HNL|        JFK|
|    4330|   HNL|        JFK|
+--------+------+-----------+
only showing top 10 rows

In [10]:
(df.select("distance", "origin", "destination").where(col("distance")>1000).orderBy(desc("distance"))).show(10)

+--------+------+-----------+
|distance|origin|destination|
+--------+------+-----------+
|    4330|   HNL|        JFK|
|    4330|   HNL|        JFK|
|    4330|   HNL|        JFK|
|    4330|   HNL|        JFK|
|    4330|   HNL|        JFK|
|    4330|   HNL|        JFK|
|    4330|   HNL|        JFK|
|    4330|   HNL|        JFK|
|    4330|   HNL|        JFK|
|    4330|   HNL|        JFK|
+--------+------+-----------+
only showing top 10 rows

In [11]:
(df.select("distance", "origin", "destination").where("distance>1000").orderBy("distance", ascending=False).show(10))

+--------+------+-----------+
|distance|origin|destination|
+--------+------+-----------+
|    4330|   JFK|        HNL|
|    4330|   JFK|        HNL|
|    4330|   JFK|        HNL|
|    4330|   JFK|        HNL|
|    4330|   JFK|        HNL|
|    4330|   JFK|        HNL|
|    4330|   JFK|        HNL|
|    4330|   JFK|        HNL|
|    4330|   JFK|        HNL|
|    4330|   JFK|        HNL|
+--------+------+-----------+
only showing top 10 rows

Se ha sacado la misma tabla de 3 formas distintas

In [7]:
spark.sql("""SELECT date, delay, origin, destination
FROM us_delay_flights_tbl WHERE delay > 120 AND origin = 'SFO' AND destination = 'ORD'
ORDER BY delay DESC""").show(10)

+-------+-----+------+-----------+
|   date|delay|origin|destination|
+-------+-----+------+-----------+
|2190925| 1638|   SFO|        ORD|
|1031755|  396|   SFO|        ORD|
|1022330|  326|   SFO|        ORD|
|1051205|  320|   SFO|        ORD|
|1190925|  297|   SFO|        ORD|
|2171115|  296|   SFO|        ORD|
|1071040|  279|   SFO|        ORD|
|1051550|  274|   SFO|        ORD|
|3120730|  266|   SFO|        ORD|
|1261104|  258|   SFO|        ORD|
+-------+-----+------+-----------+
only showing top 10 rows

In [13]:
(df.select("date", "delay", "origin", "destination").where(("delay > 1000") and ("origin = 'SFO'") and ("destination = 'ORD'")).orderBy("delay", ascending = False).show(10))

+-------+-----+------+-----------+
|   date|delay|origin|destination|
+-------+-----+------+-----------+
|2190925| 1638|   SFO|        ORD|
|3020700| 1592|   RSW|        ORD|
|2210630| 1511|   MCO|        ORD|
|2201215| 1238|   BOS|        ORD|
|1181225| 1151|   PBI|        ORD|
|2111225| 1128|   PBI|        ORD|
|2051715| 1009|   OKC|        ORD|
|3310645| 1006|   RSW|        ORD|
|3191420|  994|   SJC|        ORD|
|3300645|  987|   RSW|        ORD|
+-------+-----+------+-----------+
only showing top 10 rows

In [8]:
spark.sql("""SELECT delay, origin, destination,
 CASE
 WHEN delay > 360 THEN 'Very Long Delays'
 WHEN delay > 120 AND delay < 360 THEN 'Long Delays'
 WHEN delay > 60 AND delay < 120 THEN 'Short Delays'
 WHEN delay > 0 and delay < 60 THEN 'Tolerable Delays'
 WHEN delay = 0 THEN 'No Delays'
 ELSE 'Early'
 END AS Flight_Delays
 FROM us_delay_flights_tbl
 ORDER BY origin, delay DESC""").show(10)

+-----+------+-----------+-------------+
|delay|origin|destination|Flight_Delays|
+-----+------+-----------+-------------+
|  333|   ABE|        ATL|  Long Delays|
|  305|   ABE|        ATL|  Long Delays|
|  275|   ABE|        ATL|  Long Delays|
|  257|   ABE|        ATL|  Long Delays|
|  247|   ABE|        DTW|  Long Delays|
|  247|   ABE|        ATL|  Long Delays|
|  219|   ABE|        ORD|  Long Delays|
|  211|   ABE|        ATL|  Long Delays|
|  197|   ABE|        DTW|  Long Delays|
|  192|   ABE|        ORD|  Long Delays|
+-----+------+-----------+-------------+
only showing top 10 rows

In [19]:
spark.sql("""CREATE DATABASE learn_spark_db3""")

DataFrame[]

In [20]:
spark.sql("""USE learn_spark_db3""")

DataFrame[]

Creating managed table

In [21]:
spark.sql("""CREATE TABLE managed_us_delay_flights_tbl (date STRING, delay INT, distance INT, origin STRING, destination STRING)""")

DataFrame[]

Creating unmanaged table

In [23]:
spark.sql(""" CREATE TABLE us_delay_flights_tbl(date STRING, delay INT, distance INT, origin STRING, destination STRING) USING csv OPTIONS(PATH 'C:/LearningSparkV2-master/databricks-datasets/learning-spark-v2/departuredelays.csv')""")

DataFrame[]

In [26]:
spark.sql("""CREATE OR REPLACE GLOBAL TEMP VIEW us_origin_airport_SFO_global_tmp_view AS SELECT date, delay, origin, destination FROM us_delay_flights_tbl WHERE origin = 'SFO' """)

DataFrame[]

In [27]:
spark.sql("""CREATE OR REPLACE TEMP VIEW us_origin_airport_JFK_tmp_view AS SELECT date, delay, origin, destination FROM us_delay_flights_tbl WHERE origin = 'JFK' """)

DataFrame[]

In [30]:
spark.sql("""SELECT * FROM us_origin_airport_JFK_tmp_view""")

DataFrame[date: int, delay: int, origin: string, destination: string]

In [31]:
spark.sql("""SELECT * FROM global_temp.us_origin_airport_SFO_global_tmp_view""")

DataFrame[date: int, delay: int, origin: string, destination: string]

In [32]:
spark.sql("""DROP VIEW IF EXISTS us_origin_airport_SFO_global_tmp_view""")

DataFrame[]

In [33]:
spark.sql("""DROP VIEW IF EXISTS us_origin_airport_JFK_tmp_view""")

DataFrame[]

Reading tables into DataFrames

In [34]:
us_flights_df = spark.sql("""SELECT * FROM us_delay_flights_tbl""")

In [35]:
us_flights_df2 = spark.table("us_delay_flights_tbl")

##### PARQUET

Reading parquet file into a Spark SQL table

In [36]:
spark.sql("""CREATE OR REPLACE TEMP VIEW us_delay_flights_tbl USING parquet OPTIONS(PATH "C:/LearningSparkV2-master/databricks-datasets/learning-spark-v2/flights/summary-data/parquet/2010-summary.parquet")""")

DataFrame[]

In [37]:
spark.sql("""SELECT * FROM us_delay_flights_tbl""").show(10)

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|    United States|            Romania|    1|
|    United States|            Ireland|  264|
|    United States|              India|   69|
|            Egypt|      United States|   24|
|Equatorial Guinea|      United States|    1|
|    United States|          Singapore|   25|
|    United States|            Grenada|   54|
|       Costa Rica|      United States|  477|
|          Senegal|      United States|   29|
|    United States|   Marshall Islands|   44|
+-----------------+-------------------+-----+
only showing top 10 rows

Writing DataFrames to Spark SQL tables

In [38]:
(df.write.mode("overwrite").saveAsTable("us_delay_flights_tbl1"))

In [40]:
spark.sql("""SELECT * FROM us_delay_flights_tbl1""").show(5)

+-------+-----+--------+------+-----------+
|   date|delay|distance|origin|destination|
+-------+-----+--------+------+-----------+
|2151800|  108|     290|   ORD|        MSP|
|2151800|  142|     772|   ORD|        DEN|
|2151303|   16|    1516|   ORD|        LAX|
|2151157|    7|    1316|   ORD|        LAS|
|2151818|   55|    1511|   ORD|        PDX|
+-------+-----+--------+------+-----------+
only showing top 5 rows

##### JSON

Reading a JSON file into a Spark SQL table

In [41]:
spark.sql("""CREATE OR REPLACE TEMPORARY VIEW us_delay_flights_tbl USING json OPTIONS(PATH "C:/LearningSparkV2-master/databricks-datasets/learning-spark-v2/flights/summary-data/json/*")""")

DataFrame[]

In [42]:
spark.sql("""SELECT * FROM us_delay_flights_tbl""").show(10)

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|    United States|            Romania|   15|
|    United States|            Croatia|    1|
|    United States|            Ireland|  344|
|            Egypt|      United States|   15|
|    United States|              India|   62|
|    United States|          Singapore|    1|
|    United States|            Grenada|   62|
|       Costa Rica|      United States|  588|
|          Senegal|      United States|   40|
|          Moldova|      United States|    1|
+-----------------+-------------------+-----+
only showing top 10 rows

##### CSV

Reading a CSV file into a Spark SQL table

In [43]:
spark.sql("""CREATE OR REPLACE TEMPORARY VIEW us_delay_flights_tbl USING csv OPTIONS(PATH "C:/LearningSparkV2-master/databricks-datasets/learning-spark-v2/flights/summary-data/csv/*", header "true", inferSchema "true", mode "FAILFAST")""")

DataFrame[]

In [44]:
spark.sql("""SELECT * FROM us_delay_flights_tbl""").show(10)

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|    United States|            Romania|    1|
|    United States|            Ireland|  264|
|    United States|              India|   69|
|            Egypt|      United States|   24|
|Equatorial Guinea|      United States|    1|
|    United States|          Singapore|   25|
|    United States|            Grenada|   54|
|       Costa Rica|      United States|  477|
|          Senegal|      United States|   29|
|    United States|   Marshall Islands|   44|
+-----------------+-------------------+-----+
only showing top 10 rows

##### AVRO

Reading an Avro file into a Spark SQL table

In [49]:
# spark.sql("""CREATE OR REPLACE TEMPORARY VIEW episode_tbl USING avro OPTIONS(PATH "C:/LearningSparkV2-master/databricks-datasets/learning-spark-v2/flights/summary-data/avro/*" )""")

In [50]:
# spark.sql("SELECT * FROM episode_tbl").show(10,False)

In [54]:
# df1 = (spark.read.format("avro").load("C:/LearningSparkV2-master/databricks-datasets/learning-spark-v2/flights/summary-data/avro/*"))

In [55]:
# df1.show(10, False)

##### ORC

Reading an Orc file into a Spark SQL table

In [51]:
spark.sql("""CREATE OR REPLACE TEMPORARY VIEW us_delay_flights_tbl USING orc OPTIONS(PATH "C:/LearningSparkV2-master/databricks-datasets/learning-spark-v2/flights/summary-data/orc/*")""")

DataFrame[]

In [52]:
spark.sql("""SELECT * FROM us_delay_flights_tbl""").show(10)

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|    United States|            Romania|    1|
|    United States|            Ireland|  264|
|    United States|              India|   69|
|            Egypt|      United States|   24|
|Equatorial Guinea|      United States|    1|
|    United States|          Singapore|   25|
|    United States|            Grenada|   54|
|       Costa Rica|      United States|  477|
|          Senegal|      United States|   29|
|    United States|   Marshall Islands|   44|
+-----------------+-------------------+-----+
only showing top 10 rows

##### IMAGE

Reading an image file into a DataFrame

In [56]:
from pyspark.ml import image

In [57]:
image_dir = "C:/LearningSparkV2-master/databricks-datasets/learning-spark-v2/cctvVideos/train_images/"

In [58]:
image_df=spark.read.format("image").load(image_dir)

In [59]:
image_df.printSchema()

root
 |-- image: struct (nullable = true)
 |    |-- origin: string (nullable = true)
 |    |-- height: integer (nullable = true)
 |    |-- width: integer (nullable = true)
 |    |-- nChannels: integer (nullable = true)
 |    |-- mode: integer (nullable = true)
 |    |-- data: binary (nullable = true)
 |-- label: integer (nullable = true)

In [63]:
image_df.select("image.height", "image.width", "image.nChannels", "image.mode", "label").show(5, truncate=False)

+------+-----+---------+----+-----+
|height|width|nChannels|mode|label|
+------+-----+---------+----+-----+
|288   |384  |3        |16  |0    |
|288   |384  |3        |16  |1    |
|288   |384  |3        |16  |0    |
|288   |384  |3        |16  |0    |
|288   |384  |3        |16  |0    |
+------+-----+---------+----+-----+
only showing top 5 rows

##### BINARY FILES

Reading a binary file into a DataFrame

In [64]:
path = "C:/LearningSparkV2-master/databricks-datasets/learning-spark-v2/cctvVideos/train_images/"

In [65]:
binary_files_df = (spark.read.format("binaryFile").option("pathGlobFilter", "*.jpg").load(path))

In [69]:
binary_files_df.show(5)

+--------------------+-------------------+------+--------------------+-----+
|                path|   modificationTime|length|             content|label|
+--------------------+-------------------+------+--------------------+-----+
|file:/C:/Learning...|2021-04-15 02:34:17| 55037|[FF D8 FF E0 00 1...|    0|
|file:/C:/Learning...|2021-04-15 02:34:17| 54634|[FF D8 FF E0 00 1...|    1|
|file:/C:/Learning...|2021-04-15 02:34:17| 54624|[FF D8 FF E0 00 1...|    0|
|file:/C:/Learning...|2021-04-15 02:34:17| 54505|[FF D8 FF E0 00 1...|    0|
|file:/C:/Learning...|2021-04-15 02:34:17| 54475|[FF D8 FF E0 00 1...|    0|
+--------------------+-------------------+------+--------------------+-----+
only showing top 5 rows